.promotions-banner {
    display: flex;
    justify-content: space-between;
    background-color: #0077b1;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.promotions-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 10px;
}

.main-item {
    flex: 2;
}

.promotions-item .icon {
    font-size: 24px;
    margin-bottom: 10px;
}
