.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.register-container {
    max-width: 600px;
    width: 100%;
    margin: 20px;
    margin-top: 200px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.register-container p {
    margin-bottom: 2rem;
    text-align: center;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.register-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.register-container .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.register-container .form-control {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    align-self: start;
}

.register-container .btn {
    grid-column: span 2;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.register-container .btn:hover {
    background-color: #004494;
}

.register-container .form-group.text-center {
    grid-column: span 2;
    text-align: center;
    margin-top: 2rem;
}

.register-container .form-group.text-center a {
    color: #0056b3;
    text-decoration: none;
}

.register-container .form-group.text-center a:hover {
    text-decoration: underline;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.margin-div {
    margin-top: 50%;
}



/* LISTAS */

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.list-title {

    text-align: center;
    margin-top: 5%;
    margin-bottom: 10px; /* Espacio entre el título y el formulario */
}

.list-description {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px; /* Espacio entre el título y el formulario */
}

/* FORMULARIOS */

.form-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Espacio entre el título y el formulario */
}

.form-description {
    text-align: center; /* Alineación centrada para el subtítulo */
    justify-self: center;
    align-self: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ajustar a dos columnas */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px;
}

.izq, .der {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre los form-groups dentro de cada columna */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* Margen superior para el contenedor del botón */
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    margin-top: 20px; /* Margen superior para el botón */
    transition: background-color 0.3s ease;
}

.edit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #00ffdd;
    color: white;
    border-radius: 5px;
    margin-top: 20px; /* Margen superior para el botón */
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.delete-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #e01b1b;
    color: white;
    border-radius: 5px;
    margin-top: 20px; /* Margen superior para el botón */
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.label-center {
    margin-bottom: 5px;
    align-self: center;
}

label {
    margin-bottom: 5px;
    align-self: flex-start;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

textarea {

    border: 1px solid #ddd;
    border-radius: 4px;
}


input {
    padding: 8px;
    width: 200px; /* Ajustar el ancho de los inputs */
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container-check {
    display: flex;
    flex-direction: row;
    place-items: flex-start baseline;
    align-items: baseline;
    gap: 1px;
    text-align: left;
    text-justify: inter-word;
}

.container-check label{
    width: 300%;
}



/*  CLIENTE  */

.cliente-table {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 80%; /* Ajusta este valor según tus necesidades */
    margin: 20px auto; /* 20px de margen arriba y abajo, centrado horizontalmente */
    border-collapse: collapse;
}

.cliente-table th, .cliente-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.cliente-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.cliente-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cliente-table tr:hover {
    background-color: #ddd;
}

/* SERVICIO */

.service-table {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    width: 80%; /* Ajusta este valor según tus necesidades */
    margin: 20px auto; /* 20px de margen arriba y abajo, centrado horizontalmente */
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

/* Estilo para las celdas de la primera columna */
.service-table th:first-child,
.service-table td:first-child {
    width: 250px; /* Ajusta este valor según tus necesidades */
    max-width: 250px; /* Limita el ancho máximo */
    white-space: normal; /* Permite que el texto se divida en varias líneas */
    overflow: visible; /* Permite que el contenido se muestre completamente */
    text-overflow: clip; /* Elimina la elipsis */
    padding: 10px; /* Añade espacio interno alrededor del texto */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total de la celda */
}


.service-table th, .service-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.service-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.service-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.service-table tr:hover {
    background-color: #ddd;
}
