.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Estilo base para el contenedor de la aplicación */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos la altura completa de la ventana */
}

/* Estilo para el Navbar */
.navbar {
  position: sticky; /* Fija el Navbar en la parte superior */
  top: 0;
  height: 80px; /* Ajusta la altura según sea necesario */
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para separación visual */
  z-index: 100; /* Asegura que el Navbar esté por encima del contenido */

}

/* Ajuste del contenido principal */
.content {
  margin-top: 80px; /* Compensa la altura del Navbar */
  flex: 1; /* Permite que el contenido principal crezca y llene el espacio disponible */
  padding: 20px; /* Añade espacio alrededor del contenido */
  overflow: auto; /* Permite desplazamiento si el contenido es grande */
  box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
  margin-bottom: 80px;
}

/* Estilo para el Footer */
.footer {
  bottom: 0;
  height: 80px; /* Ajusta la altura según sea necesario */
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Sombra para separación visual */
  text-align: center;
  flex: 0 0 50px;
  margin-top: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}